{% extends 'base.html.twig' %}

{% block body %}
    <main class='home bg-card-image'>
        <twig:FloatingBackground />

        <twig:BlackCard>
            <twig:ColorsHeader />
            <h1>Bienvenue sur Kard</h1>
            <p>Le jeu de cartes en ligne</p>
            <div class="links-row">
                {% if app.user %}
                    <twig:Button
                        :href="path('create')"
                        text="Lancer une partie"
                        iconLeft="ri:play-circle-line"
                        variant="success"
                    />
                    <twig:Button
                        :href="path('app_logout')"
                        text="Se déconnecter"
                        iconLeft="lucide:log-out"
                        variant="danger"
                    />
                {% else %}
                    <twig:Button
                        :href="path('app_login')"
                        text="Se connecter"
                        iconLeft="lucide:log-in"
                        variant="success"
                    />
                    <twig:Button
                        :href="path('app_register')"
                        text="S'inscrire"
                        iconLeft="lucide:user-plus"
                        variant="default"
                    />
                {% endif %}
            </div>
            {# @dev this should be reworked before prod
            <div class="links-row">
                <twig:Button
                    :href="path('purchase_index')"
                    text="Boutique"
                    iconLeft="material-symbols:shopping-cart-outline-rounded"
                />
            </div> #}
        </twig:BlackCard>

        <section class="games table">
            <div class="games-title table-title">
                <twig:UX:Icon name="lucide:users" color="white" />
                <h2>Parties en cours</h2>
            </div>

            {% if currentGames is not empty %}
                <table>
                    <thead>
                        <tr>
                            <th>Mode de jeu</th>
                            <th>Propriétaire</th>
                            <th>Joueurs</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for game in currentGames %}
                            <tr>
                                <td>{{ game.gameMode.value.value|capitalize }}</td>
                                <td>{{ game.owner.username }}</td>
                                <td>{{ game.participants.count }}</td>
                                <td>
                                    <twig:Button
                                        :href="path('waiting', {id: game.id})"
                                        text="Rejoindre"
                                        iconLeft="ri:arrow-right-s-line"
                                        size="small"
                                    />
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>Il n'y a aucune partie en cours</p>
            {% endif %}
        </section>

        {% if playerLeaderboard is not empty %}
            <section class="leaderboard table">
                <div class="leaderboard-title table-title">
                    <twig:UX:Icon name="lucide:biceps-flexed" color="white" />
                    <h2>Tableau des meilleurs</h2>
                </div>

                    <table>
                        <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Parties jouée</th>
                                <th>Parties gagnés</th>
                                <th>Ratio</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for player in playerLeaderboard %}
                                <tr>
                                    <td>{{ player.player.username|capitalize }}</td>
                                    <td>{{ player.gamesCount }}</td>
                                    <td>{{ player.winsCount }}</td>
                                    <td>{{ player.winRate }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
            </section>
        {% endif %}
    </main>
{% endblock %}
