{% extends 'base.html.twig' %}

{% block body %}
    <main class="waiting bg-card-image">
        <div class="waiting__header black-card">
            <h1>En attente de joueurs !</h1>
        </div>
        <div {{ stimulus_controller('stream', {url: mercure('waiting')}) }}></div>
        <div id="player-join">
            <h2>Joueurs</h2>
            {% for player in players %}
                {{ include('components/turbo/player-join.html.twig', {player: player}) }}
            {% endfor %}
        </div>

        <div class="links-row">
            {% if room.owner == app.user %}
                <twig:Button
                    onClick='window.location.href = "{{ path('game_start', {id: room.id}) }}"'
                    text="Lancer la partie"
                    iconLeft="lucide:circle-play"
                    variant="success"
                />
            {% endif %}
            <twig:Button
                text="copier le lien"
                iconLeft="lucide:copy"
                onClick="{copyLink()}"
            />
        </div>
        <div {{ stimulus_controller('waiting') }}></div>
    </main>
{% endblock %}
{% block endscript %}
    <script type="application/json" id="mercure-url">
        {{ mercure('game-' ~ room.id, {subscribe: 'game-' ~ room.id})|json_encode(constant('JSON_UNESCAPED_SLASHES') b-or constant('JSON_HEX_TAG'))|raw }}
    </script>
    <script>
        const copyLink = () => {
            navigator.clipboard.writeText(window.location.href);
        }
    </script>
{% endblock %}
